@font-face {
    font-family: myFont;
    src: url(../fonts/Ubuntu-R.ttf);
}
body {
    position: relative;
    background: url(../img/background-light.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: myFont;
}
div#top {
    width: 100%;
    background-color: white;
    background: url(../img/stripe.jpg) repeat-x center bottom;
    padding: 0;
}
div#navi {
    height: 4rem;
    margin: 0 auto;
    z-index: 1;
}
div#navi>ul {
    font-size: 1.3rem;
    margin-top: 1rem;
    text-align: center;
}
div#navi>ul>li {
     display: inline-block;
}
div#navi>ul>li>a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    cursor: pointer;
}
hr.hr-nav {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 0;
    height: 0.2rem;
    background-color: #5ab438;
}
div.content-div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
div.nice-shape {
    border-radius: 10px;
    -webkit-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.4), -2px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.4), -2px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.4), -2px 0px 4px 0px rgba(0,0,0,0.4);
}
.carousel-item > img {
    border-radius: 10px;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}
.under-sticky {
    margin-top: 4rem;
}
.under-sticky2 {
    margin-top: 4.5rem;
}
div#first-content {
    max-width: 800px;
}
div#second-content {
    width: 1000px;
}
div#third-content {
    max-width: 800px;
    background-color: #ffffff;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #032a4c;
}
div#third-content > :first-child {
    font-weight: bold;
    color: #000000;
}
div#fourth-content {
    max-width: 1000px;
    background-color: #ffffff;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #032a4c;
}
div#fourth-content > :first-child {
    font-weight: bold;
    color: #000000;
}
div#fifth-content {
    max-width: 800px;
    background-color: #ffffff;
    color: #032a4c;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
div#footer {
    width: 100%;
    background-color: #00adef;
    color: #ffffff;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
div#footer > :first-child {
    margin-bottom: 2.5rem;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
div.location-div {
    background-color: #ffffff;
    width: 100%;
}
div.location-div > :first-child {
    background-color: #d9edf7;
    text-align: center;
    padding: 1rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.location-data {
    font-size: 80%;
    color: #337ab7;
}
div.location-data > :first-child, div.location-data > :nth-child(2) {
    width: 49%;
    text-align: center;
    padding: 1.3rem 0;
}
div.location-data > :nth-child(3) {
    text-align: center;
    padding-bottom: 1.3rem;
}
.green-color {
    color: #59b337;
}
.nav-link {
    padding: 0;
}
a.active {
    color: #00adef;
}
.google-map {
    width:100%;
    height: 12rem;
}
.footer-icon {
    font-size: 150%;
    position: relative;
    top: 2px;
    margin-right: .5rem;
}
.footer-data {
    padding-left: 1rem;
    padding-right: 1rem;
}
ul.badania {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-bottom: 0;
    padding: 0 15%;
}
ul.wyniki {
    list-style-type: none;
    font-size: 1.3rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
ul.wyniki > li {
    margin-bottom: 2rem;
}
ul.wyniki > li > i {
    font-size: 150%;
    position: relative;
    top: .2rem;
    margin-right: .5rem;
}
form#generator-zgody {
    background-color: #d9edf7;
    border-radius: 10px;
    border: 1px solid gray;
    color: gray;
    padding: .5rem 2rem;
    margin-bottom: 1rem;
}
label {
    margin-bottom: 0;
    font-size: 80%;
    /* float: left; */
}
.form-control {
    background-color: #edf4f7;
    margin-left: auto;
}
.form-inline {
    margin-top: .5rem;
}
.wyniki-icon {
    margin-right: .5rem;
    color: red;
}
.generator-info {
    font-size: 80%;
    text-align: center;
}
.generator-button {
    color: gray;
    padding: .5rem;
    margin: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid silver;
}
#generator-warning {
    color: red;
}
#hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#hamburger {
    margin-left: 2rem!important;
}
#menu {
    position: relative;
    top: -.3rem;
}
#mobile-menu {
    display: none;
    font-size: 1.3rem;
    background-color: #ffffff;
    height: auto;
    margin-top: 0!important;
}
#mobile-menu>li {
    padding: 1rem;
}
#desktop-menu {
}
@media  only screen and (max-width: 768px) {
    div.nice-shape, .carousel-item > img {
        border-radius: 0;
    }
    div.location-div {
        border-radius: 10px;
    }
    .location-div {
        margin-bottom: 1rem;
    }
    ul.badania {
        padding-left: 0;
        padding-right: 0;
    }
    .wyniki {
        width: 60%;
        margin: 0 auto;
    }
    #generator-zgody {
        max-width: 450px;
        margin: 0 auto;
    }
    .footer-data {
        margin: .5rem;
    }
}

@media only screen and (max-width: 576px) {
    ul.wyniki {
        margin: 5%;
        width: 100%;
        font-size: 1.1rem;
    }
    ul.badania {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
    div.carousel-caption {
        border-radius: 0;
        width: 100%;
        height: 100%;
        position: static;
    }
    div#navi {
        padding-left: 0;
        padding-right: 0;
        padding-top: .3rem;
    }
    div#navi>ul {
        text-align: left;
    }
    div#navi>ul>li>a {
        text-align: left;
    }
}

@media only screen and (max-width: 450px) {
    ul.wyniki {
        font-size: 1rem;
    }
}
